$breakpoint-mobile-clues-column: 46.25rem;
$breakpoint-clues-column-clues-row: 80rem;

.h5p-crossword {
  --icon-fontawesome-xmark: "\f00d";
  --icon-h5ptheme-check: "\e903";
  --icon-h5ptheme-cross: "\e902";
  --icon-h5ptheme-info: "\e917";
}

// Beware, H5P.Question is already establishing a container, so we cannot set in on .h5p-crossword.
@container h5p-theme-evaluation-container (max-width: #{$breakpoint-mobile-clues-column}) {
  .h5p-crossword-content {
    flex-direction: column;
  }

  .h5p-crossword-input-fields-group {
    margin-top: var(--h5p-theme-spacing-s);
  }

  .h5p-crossword-input-container,
  .h5p-crossword-table-wrapper {
    width: 100%;
    height: auto;
  }

  .h5p-crossword-overlay-outer-wrapper {
    max-height: calc(100% - calc(5 * var(--h5p-theme-spacing-s)));
  }
}

@container h5p-theme-evaluation-container (min-width: #{$breakpoint-mobile-clues-column}) {
  .h5p-crossword-clue-announcer {
    display: none;
  }

  .h5p-crossword-table-wrapper {
    margin-right: var(--h5p-theme-spacing-s);
    width: 100%;
  }

  .h5p-crossword-input-container .h5p-crossword-input-fields-group:first-child {
    margin-top: 0;
  }
}

@container h5p-theme-evaluation-container (min-width: #{$breakpoint-clues-column-clues-row}) {
  .h5p-crossword-input-container {
    flex-direction: row;
    width: 50%;

    .h5p-crossword-input-fields-group {
      margin-top: 0;
      width: 100%;

      &:first-child {
        margin-right: var(--h5p-theme-spacing-s);
      }
    }
  }
}
