@import '@styles/h5p-crossword-main';

/*
 * TODO: Replace with container queries in respective components once Safari 18 is out and tthus he latest three
 * versions of all major browsers support container queries.
 */
@media screen and (max-width: $breakpoint-mobile-clues-column) {
  .h5p-crossword {
    .h5p-crossword-content {
      flex-direction: column;
    }

    .h5p-crossword-input-fields-group {
      margin-top: 1em;
    }

    .h5p-crossword-input-container,
    .h5p-crossword-table-wrapper {
      width: 100%;
      height: auto;
    }

    .h5p-crossword-overlay-outer-wrapper {
      width: 100%;
      max-height: calc(100% - 5em);
      width: calc(100% - 4em);
    }

    .h5p-crossword-extra-clue-instance-wrapper {
      &.h5p-audio-wrapper,
      &.h5p-video,
      &.h5p-image {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-mobile-clues-column) {
  .h5p-crossword {
    .h5p-crossword-clue-announcer {
      display: none;
    }

    .h5p-crossword-table-wrapper {
      margin-right: 1em;
      width: 100%;
    }

    .h5p-crossword-input-container .h5p-crossword-input-fields-group:first-child {
      margin-top: 0;
    }
  }
}

@media screen and (min-width: $breakpoint-clues-column-clues-row) {
  .h5p-crossword .h5p-crossword-input-container {
    flex-direction: row;
    width: 50%;

    .h5p-crossword-input-fields-group {
      margin-top: 0;
      width: 100%;

      &:first-child {
        margin-right: 1em;
      }
    }
  }
}
