// Sizes
$titlebarButtonSize: 2.75em;
$titlebarButtonBackgroundSize: 1.15em;

// Colors
$color-primary: rgb(26, 115, 217);
$color-primary-5: rgba(26, 115, 217, .05);
$color-primary-10: rgba(26, 115, 217, .1);
$color-primary-90: rgba(26, 115, 217, .9);
$color-primary-95: rgba(26, 115, 217, .95);

$color-text-dark: #4c4452;
$color-text-light: #fff;
$color-shadow-light: rgba(166, 166, 166, .2);

// Icons
$icon-button-automove-blue: url(./../assets/button-automove-icon-blue.svg);
$icon-button-automove-white: url(./../assets/button-automove-icon-white.svg);
$icon-button-automove-grey: url(./../assets/button-automove-icon-grey.svg);
