@import './h5p-crossword-main';

.h5p-crossword {
  .h5p-crossword-content {
    display: flex;
  }

  .h5p-crossword-grid {
    border: 0.05em solid #000000;
    border-spacing: 0;
    width: 100%;

    &.h5p-crossword-grid-background-image {
      background-size: cover;
    }

    th,
    td {
      border: 0.05em solid #000000;
    }

    thead,
    th {
      padding: 0;
      visibility: hidden;
    }
  }

  .h5p-crossword-cell {
    background-color: white;
    margin: 0;
    outline: none;
    padding: 0;
    position: relative;
    -webkit-user-select: none;

    /* Safari */
    -moz-user-select: none;

    /* Firefox */
    -ms-user-select: none;

    /* IE10+/Edge */
    user-select: none;

    /* Standard */

    &::after {
      content: '';
      display: block;
      margin-top: 100%;
    }
  }

  .h5p-crossword-cell-content-wrapper {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .h5p-crossword-cell-content {
    background-color: transparent;
    border: 0;
    caret-color: transparent;
    color: transparent;
    font-size: 1.2em;
    height: 100%;
    left: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    text-align: center;
    text-anchor: middle;
    text-transform: uppercase;
    top: 0;
    width: 100%;
    z-index: 1;
  }

  .h5p-crossword-cell-canvas {
    background-color: transparent;
    border: 0;
    color: #000000;
    font-size: 1.2em;
    margin: 0;
    padding: 0;
    text-align: center;
    z-index: 1;
  }

  .h5p-crossword-cell-clue-id-marker {
    background-color: white;
    color: #606060;
    font-size: 0.5em;
    left: 0;
    line-height: 0.5em;
    padding: 0.4em 0.4em 0.4em 0.3em;
    position: absolute;
    top: 0;
  }

  .h5p-crossword-cell-solution-word-marker {
    background-color: white;
    bottom: 0;
    color: #606060;
    font-size: 0.5em;
    line-height: 0.5em;
    padding: 0.4em 0.3em 0.4em 0.4em;
    position: absolute;
    right: 0;
  }

  .h5p-crossword-cell {
    &.h5p-crossword-highlight-normal {
      .h5p-crossword-cell-clue-id-marker,
      .h5p-crossword-cell-solution-word-marker {
        background: #3e8de8;
      }
    }

    &.h5p-crossword-solution-correct {
      .h5p-crossword-cell-clue-id-marker,
      .h5p-crossword-cell-solution-word-marker {
        background: $color-correct-light;
      }

      &.h5p-crossword-highlight-normal {
        .h5p-crossword-cell-clue-id-marker,
        .h5p-crossword-cell-solution-word-marker {
          background: #75a1a9;
        }
      }
    }

    &.h5p-crossword-solution-wrong {
      .h5p-crossword-cell-clue-id-marker,
      .h5p-crossword-cell-solution-word-marker {
        background: $color-wrong-light;
      }
    }

    &.h5p-crossword-solution-neutral {
      .h5p-crossword-cell-clue-id-marker,
      .h5p-crossword-cell-solution-word-marker {
        background: $color-neutral-light;
      }
    }

    &.h5p-crossword-solution-wrong.h5p-crossword-highlight-normal {
      .h5p-crossword-cell-clue-id-marker,
      .h5p-crossword-cell-solution-word-marker {
        background: #c0a1bf;
      }
    }

    &.h5p-crossword-solution-neutral.h5p-crossword-highlight-normal {
      .h5p-crossword-cell-clue-id-marker,
      .h5p-crossword-cell-solution-word-marker {
        background: #ddc0a4;
      }
    }

    &.h5p-crossword-cell-empty {}
  }

  .h5p-crossword-grid.h5p-crossword-grid-background-image
  .h5p-crossword-cell.h5p-crossword-cell-empty {
    background-color: transparent;
  }

  .h5p-crossword.grid .h5p-crossword-cell.h5p-crossword-cell-empty {
    background-color: #000000;
  }

  .h5p-crossword-cell {
    &:not(.h5p-crossword-solution-correct):not(.h5p-crossword-solution-wrong):not(.h5p-crossword-solution-neutral).h5p-crossword-highlight-normal {
      background-color: #3e8de8;
    }

    &.h5p-crossword-solution-correct.h5p-crossword-highlight-normal {
      background-color: #75a1a9;
    }

    &.h5p-crossword-solution-wrong.h5p-crossword-highlight-normal {
      background-color: #c0a1bf;
    }

    &.h5p-crossword-solution-neutral.h5p-crossword-highlight-normal {
      background-color: #ddc0a4;
    }

    &.h5p-crossword-highlight-focus {
      border-color: rgba(232, 153, 62, 0.8);
      box-shadow: 0 0 0.2em 0.2em #e8993e;
      z-index: 1;

      .h5p-crossword-cell-clue-id-marker,
      .h5p-crossword-cell-solution-word-marker {
        color: white;
      }
    }

    &.h5p-crossword-highlight-normal {
      .h5p-crossword-cell-clue-id-marker,
      .h5p-crossword-cell-solution-word-marker {
        color: #e0e0e0;
      }
    }

    &.h5p-crossword-highlight-focus {
      color: white;
    }

    &.h5p-crossword-solution-correct {
      background: $color-correct-light;

      .h5p-crossword-cell-canvas {
        color: $color-correct-dark;
      }
    }

    &.h5p-crossword-highlight-normal .h5p-crossword-cell-canvas {
      color: white;
    }

    &.h5p-crossword-solution-wrong {
      background: $color-wrong-light;
    }

    &.h5p-crossword-solution-neutral {
      background: $color-neutral-light;
    }

    &.h5p-crossword-solution-wrong .h5p-crossword-cell-canvas {
      color: $color-wrong-dark;
    }

    &.h5p-crossword-solution-neutral:not(.h5p-crossword-highlight-normal) .h5p-crossword-cell-canvas {
      color: $color-neutral-dark;
    }
  }

  .h5p-crossword-input-container {
    display: flex;
    flex-direction: column;
    width: 30%;
  }

  .h5p-crossword-input-fields-group {
    margin-top: 1em;
  }

  .h5p-crossword-input-fields-group-title {
    font-weight: bold;
  }

  .h5p-crossword-input-fields-group-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 0.5em;
  }

  .h5p-crossword-input-fields-group-wrapper-clue {
    align-items: center;
    display: flex;
    flex-direction: row;
    line-height: 1.25em;

    .h5p-crossword-input-fields-group-clue-id {
      border-radius: 50%;
      font-style: italic;
      height: 1.75em;
      line-height: 1.75em;
      margin-right: 0.2em;
      text-align: center;
      width: 1.75em;
    }

    .h5p-crossword-input-fields-group-clue {
      padding-right: 0.5em;
    }

    .h5p-crossword-input-fields-group-answer-length {
      font-style: italic;
    }

    .h5p-crossword-input-fields-group-extra-clue {
      background: none;
      border: none;
      color: $color-joubelui-button;
      cursor: pointer;
      padding-left: 0.3em;
    }

    &.h5p-crossword-input-fields-group-clue-highlight-focus .h5p-crossword-input-fields-group-clue-id {
      background-color: #3e8de8;
      color: white;
      font-weight: bold;
    }
  }

  .h5p-crossword-extra-clue-instance-wrapper {
    &.h5p-audio-wrapper {
      width: 40em;
      height: 32px;
    }

    &.h5p-video,
    &.h5p-image {
      width: 40em;
    }
  }

  .h5p-crossword-input-container {
    &.h5p-crossword-disabled .h5p-crossword-input-fields-group-extra-clue {
      color: #aaaaaa;
      cursor: auto;
    }

    &:not(.h5p-crossword-disabled) .h5p-crossword-input-fields-group-extra-clue {
      &:focus,
      &:hover {
        color: $color-joubelui-button-hover;
      }

      &:active {
        color: $color-joubelui-button-active;
      }
    }
  }

  .h5p-crossword-input-container:not(.h5p-crossword-disabled) {
    .h5p-crossword-input-fields-group-clue-highlight-focus .h5p-crossword-input-fields-group-extra-clue:focus,
    &.h5p-crossword-input-fields-group-clue-highlight-focus .h5p-crossword-input-fields-group-extra-clue:hover {
      color: #dddddd;
    }

    .h5p-crossword-input-fields-group-clue-highlight-focus .h5p-crossword-input-fields-group-extra-clue:active {
      color: #cccccc;
    }
  }

  .h5p-crossword-input-fields-group-extra-clue::after {
    content: "\E88F";
    font-family: 'Material Icons';
    font-size: 1.2em;
    font-weight: bold;
  }

  .h5p-crossword-input-fields-group-input {
    margin-top: 0.25em;
    text-transform: uppercase;
    width: calc(100% - 8px); /* 8px = padding + border-width, TODO: Set in JS */
  }

  .h5p-crossword-input-fields-group-solution-container {
    position: relative;
    width: calc(100% - .5em);
    left: .25em;
  }

  .h5p-crossword-input-fields-group-solution-inner {
    background: #fbfbfb;
    border-bottom: 1px solid #ddd;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    font-size: 0.9em;
    line-height: 1em;
    text-align: left;
    position: relative;
  }

  .h5p-crossword-input-fields-group-solution-word {
    position: relative;
    z-index: 3;
    display: inline-flex;
    flex-wrap: wrap;
    /* Compensating the value in https://github.com/h5p/h5p-question/blob/3676a7053120fcfe439747d7bcc8206755d7b4c3/styles/question.css#L327 */
    padding-right: 1.615384615em;
    padding-bottom: .5em;
    padding-left: .5em;

    > span {
      &.h5p-crossword-input-fields-group-solution-char-wrapper {
        margin-right: .25em;
        margin-top: .5em;
        position: relative;
        border-radius: .25em;
        padding: .15em;
        line-height: 1em;

        &:last-child {
          margin-right: 0;
        }

        &.h5p-crossword-solution-no-input {
          background-color: $color-neutral-light;
          border: 1px solid $color-neutral-light;
          color: $color-neutral-dark;
          display: inline-block;
          height: 1em;

          &.h5p-crossword-solution-no-char {
            width: 1em;
          }
        }

        &.h5p-crossword-solution-correct {
          background: $color-correct-light;
          border: 1px solid $color-correct-light;
          color: $color-correct-dark;

          &::after {
            color: $color-correct-dark;
            content: "\f00c";
            font-family: H5PFontAwesome4;
            padding-left: .25em;
            right: .5em;
            text-decoration: none;
            top: 0;
          }
        }

        &.h5p-crossword-solution-wrong {
          background-color: $color-wrong-light;
          border: 1px solid $color-wrong-light;
          color: $color-wrong-dark;

          &::after {
            color: $color-wrong-dark;
            content: "\f00d";
            font-family: H5PFontAwesome4;
            padding-left: .25em;
            right: .5em;
            text-decoration: none;
            top: 0;
          }
        }
      }

      > span {
        color: inherit;
      }
    }
  }

  .h5p-crossword-input-fields-group-solution span {
    &.h5p-crossword-solution-correct {
      color: $color-correct-dark;
    }

    &.h5p-crossword-solution-wrong {
      color: $color-wrong-dark;
    }
  }

  .h5p-crossword-display-none {
    display: none;
  }

  .h5p-crossword-clue-announcer {
    display: flex;
    flex-wrap: nowrap;
    font-size: 0.75em;
    height: 2em;
    width: 100%;
  }

  .h5p-crossword-clue-announcer-clue-id {
    font-weight: bold;
    padding-right: 0.5em;
    -space: nowrap;
  }

  .h5p-crossword-clue-announcer-clue {
    overflow: hidden;
    padding-right: 0.5em;
    text-overflow: ellipsis;
    -space: nowrap;
  }

  .h5p-crossword-clue-announcer-answer-length {
    font-style: italic;
  }

  .h5p-crossword-cell-solution-word-circle {
    background-color: transparent;
    border: 0.075em solid #bbbbbb;
    border-radius: 50%;
    height: calc(100% - 0.15em);
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 0.15em);
  }

  .h5p-crossword-cell {
    &.h5p-crossword-solution-correct .h5p-crossword-cell-solution-word-circle {
      border-color: $color-correct-dark;
    }

    &.h5p-crossword-solution-wrong .h5p-crossword-cell-solution-word-circle {
      border-color: $color-wrong-dark;
    }

    &.h5p-crossword-solution-neutral .h5p-crossword-cell-solution-word-circle {
      border-color: $color-neutral-dark;
    }
  }

  .h5p-crossword-solution-word {
    border-spacing: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 0.5em;

    .h5p-crossword-cell {
      border: 0.1em solid #000000;
      border-right: 0;

      &:last-child {
        border-right: 0.1em solid #000000;
      }
    }
  }

  .h5p-crossword-solution-word-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .h5p-crossword-overlay-outer-wrapper {
    border: 0;
    border-radius: 0;
    box-shadow: 0 0 0.5em 0 rgba(105, 105, 105, 0.4);

    /* height: calc(100% - 5em); */
    left: 50%;
    opacity: 1;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    transition: opacity 0.5s;
    visibility: visible;

    /* width: calc(100% - 4em); */
    z-index: 10;
  }

  .h5p-crossword-overlay-content {
    align-items: center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    padding: 1em;
  }

  .h5p-crossword-overlay-button-close {
    background: #fff;
    position: absolute;
    top: -1.1em;
    right: -1.1em;
    cursor: pointer;
    border-radius: 50%;
    border: none;
    padding: 3px;
    line-height: 1;
    color: #bd3e3e;
    z-index: 3;

    &:after {
      font-family: 'H5PFontAwesome4';
      content: '\f00d';
      border: 1px solid #bd3e3e;
      text-align: center;
      border-radius: 50%;
      width: 1.5em;
      height: 1.5em;
      display: inline-block;
      line-height: 1.5;
    }
  }

  .h5p-crossword-invisible {
    opacity: 0;
    visibility: hidden;
  }

  .h5p-crossword-overlay-blocker {
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(44, 44, 44, 0.9);
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.5s, linear 0s, visibility 0s linear 0s;
    transition: opacity 0.5s linear 0s, visibility 0s linear 0s;
    z-index: 1;

    &.h5p-crossword-display-none {
      display: none;
    }
  }
}

@media screen and (max-width: $breakpoint-mobile-clues-column) {
  .h5p-crossword {
    .h5p-crossword-content {
      flex-direction: column;
    }

    .h5p-crossword-input-fields-group {
      margin-top: 1em;
    }

    .h5p-crossword-input-container,
    .h5p-crossword-table-wrapper {
      width: 100%;
    }

    .h5p-crossword-overlay-outer-wrapper {
      width: 100%;
      max-height: calc(100% - 5em);
      width: calc(100% - 4em);
    }

    .h5p-crossword-extra-clue-instance-wrapper {
      &.h5p-audio-wrapper,
      &.h5p-video,
      &.h5p-image {
        width: 100%;
      }
    }
  }
}

@media screen and (min-width: $breakpoint-mobile-clues-column) {
  .h5p-crossword {
    .h5p-crossword-clue-announcer {
      display: none;
    }

    .h5p-crossword-table-wrapper {
      margin-right: 1em;
      width: 100%;
    }

    .h5p-crossword-input-container .h5p-crossword-input-fields-group:first-child {
      margin-top: 0;
    }
  }
}

@media screen and (min-width: $breakpoint-clues-column-clues-row) {
  .h5p-crossword .h5p-crossword-input-container {
    flex-direction: row;
    width: 50%;

    .h5p-crossword-input-fields-group {
      margin-top: 0;
      width: 100%;

      &:first-child {
        margin-right: 1em;
      }
    }
  }
}
