@import './h5p-crossword-titlebar-main';

.h5p-titlebar-title-bar {
  align-items: center;
  background-color: $color-text-light;
  background-size: cover;
  box-shadow: 0.5em 0.5em 2em $color-shadow-light;
  display: flex;
  overflow: hidden;
  padding: .5em;

  .h5p-titlebar-title {
    color: $color-text-dark;
    flex-grow: 1;
    font-family: Arial;
    font-size: 1.15em;
    font-weight: 700;
    margin: 0;
    overflow: hidden;
    padding: 0 1rem;
    text-decoration: none solid $color-text-dark;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .h5p-titlebar-button {
    &.h5p-titlebar-button-input-mode {
      background-image: $icon-button-automove-blue;

      &.h5p-titlebar-button-active {
        background-image: $icon-button-automove-white;
      }

      &.h5p-titlebar-button-disabled {
        background-image: $icon-button-automove-grey;
      }
    }
  }
}
