$breakpoint-mobile-clues-column: 46.25em;
$breakpoint-clues-column-clues-row: 80em;

$color-correct-dark: #255c41;
$color-correct-light: #9dd8bb;
$color-wrong-dark: #b71c1c;
$color-wrong-light: #f7d0d0;
$color-neutral-dark: #b5691c;
$color-neutral-light: #f7e3cf;
