.h5p-crossword-input-container {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  font-size: var(--h5p-theme-font-size-m);
  height: var(--h5p-crossword-input-container-height);
  overflow-y: auto;
  width: 50%;

  .h5p-crossword-safari-firefox-wrapper {
    box-sizing: border-box;
    width: calc(100% - var(--scrollbar-width, 0px));

    .h5p-crossword-input-fields-group {
      color: var(--h5p-theme-text-primary);
      margin-top: var(--h5p-theme-spacing-s);

      .h5p-crossword-input-fields-group-title {
        font-weight: 600;
      }

      .h5p-crossword-input-fields-group-wrapper {
        display: flex;
        flex-direction: column;
        margin-bottom: var(--h5p-theme-spacing-s);

        .h5p-crossword-input-fields-group-wrapper-clue {
          align-items: baseline;
          display: flex;
          flex-direction: row;
          gap: calc(0.25 * var(--h5p-theme-spacing-s));
          line-height: 1.25;

          .h5p-crossword-input-fields-group-clue-id {
            border-radius: 50%;
            flex-shrink: 0;
            font-style: italic;
            height: var(--h5p-theme-spacing-m);
            line-height: var(--h5p-theme-spacing-m);
            text-align: center;
            width: var(--h5p-theme-spacing-m);
          }

          .h5p-crossword-input-fields-group-clue-content {
            display: flex;
            flex-direction: row;
            align-items: baseline;

            .h5p-crossword-input-fields-group-clue {
              padding-right: var(--h5p-theme-spacing-xxs);
            }

            .h5p-crossword-input-fields-group-answer-length {
              font-style: italic;
            }

            .h5p-crossword-input-fields-group-extra-clue {
              background: none;
              border: none;
              border-radius: 50%;
              color: var(--h5p-theme-main-cta-base);
              cursor: pointer;
              flex-shrink: 0;
              height: var(--h5p-theme-spacing-s);
              margin-inline: calc(0.25 * var(--h5p-theme-spacing-s));
              padding: 0;
              position: relative;
              width: var(--h5p-theme-spacing-s);

              &:focus-visible {
                outline: 2px ridge var(--h5p-theme-contrast-cta-white);
                outline-offset: 2px;
              }

              &:not(:disabled) {
                &:focus,
                &:hover {
                  color: var(--h5p-theme-main-cta-light);
                }

                &:active {
                  color: var(--h5p-theme-main-cta-dark);
                }
              }

              &:disabled {
                color: var(--h5p-theme-text-secondary);
                cursor: auto;
              }

              &::after {
                content: var(--icon-h5ptheme-info);
                font-family: "h5p-theme";
                font-size: var(--h5p-theme-font-size-m);
                font-weight: 600;
                left: 50%;
                position: absolute;
                top: 50%;
                transform: translate(-50%, -50%);
              }
            }
          }

          &.h5p-crossword-input-fields-group-clue-highlight-focus .h5p-crossword-input-fields-group-clue-id {
            background-color: var(--h5p-theme-main-cta-base);
            color: var(--h5p-theme-ui-base);
            font-weight: 600;
          }
        }

        .h5p-crossword-input-fields-group-input {
          background-color: var(--h5p-theme-ui-base);
          border: 2px solid var(--h5p-theme-alternative-darker);
          border-radius: var(--h5p-theme-border-radius-medium);
          box-sizing: border-box;
          color: var(--h5p-theme-text-primary);
          font-size: var(--h5p-theme-font-size-m);
          letter-spacing: calc(0.1 * var(--h5p-theme-font-size-m));
          margin-block-start: calc(0.25 * var(--h5p-theme-spacing-s));
          margin-inline-start: calc(0.25 * var(--h5p-theme-spacing-s));
          text-transform: uppercase;
          width: calc(100% - calc(0.5 * var(--h5p-theme-spacing-s)));

          &:focus-visible {
            border-color: var(--h5p-theme-contrast-cta-white);
            box-shadow: 0 0 0.5em 0 var(--h5p-theme-contrast-cta-white);
            outline: 1px ridge var(--h5p-theme-contrast-cta-white);
          }
        }
      }
    }
  }

  &.has-scrollbar {
    &:not(.safari) {
      padding-right: var(--h5p-theme-spacing-s);
    }

    &.safari {
      overflow-y: scroll;

      &::-webkit-scrollbar {
        width: var(--scrollbar-width, 7px);
      }

      &::-webkit-scrollbar-thumb {
        background-color: rgba(0, 0, 0, 0.5);
        border-radius: var(--h5p-theme-border-radius-medium);
      }

      &::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.1);
      }
    }
  }
}
