.h5p-crossword-clue-announcer {
  display: flex;
  flex-wrap: nowrap;
  font-size: var(--h5p-theme-font-size-s);
  height: var(--h5p-theme-font-size-xl);
  margin-bottom: calc(0.25 * var(--h5p-theme-spacing-s));
  width: 100%;

  .h5p-crossword-clue-announcer-clue-id {
    font-weight: bold;
    padding-right: var(--h5p-theme-spacing-xs);
    white-space: nowrap;
  }

  .h5p-crossword-clue-announcer-clue {
    overflow: hidden;
    padding-right: var(--h5p-theme-spacing-xs);
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .h5p-crossword-clue-announcer-answer-length {
    font-style: italic;
  }

  &.display-none {
    display: none;
  }
}
