.h5p-crossword-grid {
  border: 0.05em solid var(--h5p-theme-text-primary);
  border-spacing: 0;
  width: 100%;
  margin-left: auto;
  margin-right: auto;

  .h5p-crossword-cell.h5p-crossword-cell-empty {
    background-color: var(--h5p-theme-text-primary);
  }

  &.h5p-crossword-grid-background-image {
    background-size: cover;

    .h5p-crossword-cell.h5p-crossword-cell-empty {
      background-color: transparent;
    }
  }

  th,
  td {
    border: 0.05em solid var(--h5p-theme-text-primary);
  }

  thead,
  th {
    padding: 0;
    visibility: hidden;
  }
}