.h5p-crossword-overlay-outer-wrapper {
  border: 0;
  border-radius: 0;
  box-shadow: 0 0 8px 0 rgba(105, 105, 105, 0.4);

  /* height: calc(100% - 5em); */
  left: 50%;
  opacity: 1;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: opacity 0.5s;
  visibility: visible;
  width: calc(100% - 4em);

  /* width: calc(100% - 4em); */
  z-index: 10;

  .h5p-crossword-overlay-button-close {
    background: var(--h5p-theme-ui-base);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    height: calc(2.25 * var(--h5p-theme-spacing-s));
    line-height: 1;
    top: -0.85rem;
    transition: transform 0.1s ease-in-out;
    padding: 3px;
    position: absolute;
    right: -0.85rem;
    width: calc(2.25 * var(--h5p-theme-spacing-s));
    z-index: 3;

    &::after {
      border: 1px solid var(--h5p-theme-text-primary);
      border-radius: 50%;
      color: var(--h5p-theme-text-primary);
      content: var(--icon-fontawesome-xmark);
      font-family: 'H5PFontAwesome4';
      height: calc(1.5 * var(--h5p-theme-spacing-s));
      left: 50%;
      line-height: calc(1.5 * var(--h5p-theme-spacing-s));
      position: absolute;
      top: 50%;
      transform: translate(-50%, -50%);
      width: calc(1.5 * var(--h5p-theme-spacing-s));
    }

    &:hover {
      transform: scale(1.25);
    }

    &:focus-visible {
      outline: none;

      &::after {
        outline: 2px ridge var(--h5p-theme-contrast-cta-white);
        outline-offset: 2px;
      }
    }
  }

  .h5p-crossword-overlay-content {
    align-items: center;
    background-color: var(--h5p-theme-ui-base);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    padding: var(--h5p-theme-spacing-s);

    .h5p-crossword-extra-clue-instance-wrapper {
      &.h5p-advanced-text {
        word-break: break-word; // relevant when zoomed in like 400%
      }

      &.h5p-audio-wrapper {
        width: 100%;
        height: 32px;
      }

      &.h5p-video,
      &.h5p-image {
        width: 100%;
      }
    }
  }

  &.h5p-crossword-invisible {
    opacity: 0;
    visibility: hidden;
  }
}

.h5p-crossword-overlay-blocker {
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  background: rgba(44, 44, 44, 0.9);
  opacity: 1;
  visibility: visible;
  -webkit-transition: opacity 0.5s, linear 0s, visibility 0s linear 0s;
  transition: opacity 0.5s linear 0s, visibility 0s linear 0s;
  z-index: 1;

  &.display-none {
    display: none;
  }
}
